body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: system-ui;
  color: #f0f0f0;
}

:root {
  box-sizing: border-box;
  color-scheme: dark;
  background-color: #054a65;

  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --box-background-color: #1ba1a4;
  --header-color: #38444c;
  --heading-color: #44a8ff;

  --boxes-container-height: 75dvh;
  --boxes-container-width: 85vw;
  --header-height: 3.5rem;

  --animation-duration: 150ms;
}

.absoluteCenter {
  position: absolute;
  inset: 0;
  margin: auto;
}

h1 {
  position: absolute;
  margin: 2vh 0 0 2vh;
  max-width: 80vw;
  padding: 0;
}

.boxesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--boxes-container-width);
  height: 0;
}

.vertical {
  display: flex;
  gap: 5vmin;
  width: 100%;
}

.fullWidth {
  width: 100%;
}

.maxColumn {
  height: var(--boxes-container-height);
}

.boxWithHeader {
  display: grid;
  grid-template-rows: var(--header-height) auto;
  background-color: var(--box-background-color);
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.boxHeader {
  background-color: var(--header-color);
  color: var(--heading-color);
  display: flex;
  align-items: center;
  padding-left: 5px;
  font-size: 1.2em;
  border-radius: 0.5rem 0.5rem 0 0;
}

.boxContent {
  padding: 5vmin;
  overflow-y: auto;
}

.boxContent>div {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.functionsDiv {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1.5rem;
}

.functionsDiv::before,
.functionsDiv::after {
  content: '';
  margin: auto;
}

.callFunctionDiv {
  width: 50%;
  max-width: 350px;
  margin: 1rem 0 1rem 0;
  padding: .5rem;
  border: .1rem solid white;
  border-radius: .25rem .25rem .25rem .25rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.functionsOutput {
  display: flex;
  justify-content: center;
  align-items: center;
}

.functionBtn {
  max-width: 350px;
  height: 5rem;
  font-size: 1.2rem;
  background-color: #04b5fb;
  color: #031c26;
  padding: .75rem 2rem;
  border-radius: .25rem .25rem .25rem .25rem;
  border: none;
  transition: transform var(--animation-duration), box-shadow var(--animation-duration);
}

.functionBtn:hover,
.functionBtn:active {
  box-shadow: #047cab 1px 1px 20px;
  transform: scale(1.025);
}

@media screen and (min-width: 700px) and (max-height: 600px) {
  .absoluteCenter {
    top: 25vh;
  }
}